/* Pro text */
@font-face {
  font-family: 'TriviaSansRegular';
  src        : url('/font/TriviaSansRegular.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'TriviaSansRegular';
  src        : url('/font/TriviaSansRegular-Bold.woff') format('woff');
  font-weight: bold;
}

/* Pro nadpis hlavního obsahu */
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

$breakpoint : 800px;

:root {
  --default-fg-color: #222222;
  --default-bg-color: #fff;
  --footer-bg-color : #f9dfdd;

  /* Link */
  --link-fg-color      : var(--default-fg-color);
  --link-hover-fg-color: #da4338;

  /* Component Menu */
  --menu-fg-color       : var(--default-fg-color);
  --menu-fg-active-color: #da4338;
  --menu-underline-color: #cdcdcd;

  /* Component News */
  --news-caption-fg-color : #fdf6f5;
  --news-caption-bg-color : #da1717b0;
  /* Component SubscribeBtn */
  --subscribe-btn-fg-color: #eeeeee;
  --subscribe-btn-bg-color: #d52b1e;

  /* Component Breadcrumbs */
  --breadcrumbs-fg-color: var(--default-fg-color);

  /* Component Carousel */
  --carousel-color       : #c0c0c0;
  --carousel-select-color: #404040;

}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  margin        : 0;
  padding       : 0;
  font-family   : 'TriviaSansRegular', sans-serif;
  // font-family: TriviaSansRegular, Avenir, Helvetica, Arial, sans-serif;

  font-size       : 17px;
  color           : var(--default-fg-color, #222222);
  background-color: var(--default-bg-color, #fff);
  line-height     : 1.5em;
}

h1,
h2 {
  font-size: 36px;
}

/* Link */
a[href] {
  color: var(--link-fg-color);

  text-underline-offset: 2px;

  &:not(:active) {

    &:hover,
    &:focus {
      --link-fg-color: var(--link-hover-fg-color);
    }
  }

}

.no-underline {
  text-decoration: none !important;
}

/* Layout */
.layout {
  & {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-areas  :
      "menu"
      "main"
      "news";
    grid-gap : 2rem;
    padding  : 1.5rem 1rem 0 1rem;
    max-width: 1265px;
    margin   : auto;

    @media (min-width: $breakpoint) {
      grid-template-columns: min-content 1fr;
      grid-template-rows   : max-content min-content auto;
      grid-template-areas  :
        "menu       main"
        "news       main";
    }
  }

  &__menu {
    grid-area: menu;
  }

  &__news {
    grid-area: news;

    display       : flex;
    flex-direction: row;

    max-width : 100vw;
    overflow-x: auto;
    overflow-y: hidden;

    @media (min-width: $breakpoint) {
      flex-direction: column;
      overflow      : hidden;
    }
  }

  &__main {
    grid-area: main;

    display       : flex;
    flex-direction: column;

    // &__header {}
    &__body {
      flex-grow: 1;
    }

    &__footer {
      padding: 1em 0;
    }
  }

  &__newsletter {
    grid-area: newsletter;
  }
}

/* Component Menu */
.menu {
  padding: 0 1rem;

  &__container {
    list-style: none;
    padding   : 0;
  }

  &__item {
    // padding      : 0.3rem 0;
    border-bottom: 0.1rem solid var(--menu-underline-color);

    a {
      --link-fg-color: var(--menu-fg-color);
      display        : block;
      text-decoration: none;
      padding        : 0.3rem 0;
      // color       : var(--menu-fg-color);
      font-size      : 0.8em;
      text-shadow    : 0 0 0 var(--menu-fg-color);
    }

    &.is-active {
      a {
        --link-fg-color: var(--menu-fg-active-color);
      }
    }

    &::after {
      content: "";
      display: block;
      width  : 0%;

      margin-bottom: -0.1rem;
      border-bottom: 0.1rem solid var(--menu-fg-active-color);
      transition   : .5s width;
    }

    &:hover,
    &:focus {
      a {
        --link-hover-fg-color: var(--menu-fg-active-color);
      }

      &::after {
        width: 100%;
      }
    }
  }
}

/* Component Breadcrumbs */
.breadcrumbs {
  list-style: none;
  padding   : 0;

  // margin: 0;
  &__item {
    display: inline;

    &:not(:last-child)::after {
      content: ' » ';
    }
  }

  a:not(:hover) {
    --link-fg-color: var(--breadcrumbs-fg-color);
  }
}

/* Component News */
.news {
  position: relative;
  // width: 14.75rem;
  margin  : 0.9rem 1rem;

  &__wrapper-link {
    text-decoration: none;
    transition     : 0.3s filter, 0.3s transform, 0.3s color;

    &:hover {
      filter   : drop-shadow(2px 4px 6px black);
      transform: scale(1.05);
    }
  }

  &__date {
    position   : absolute;
    background : #fff;
    padding    : 0 0.5rem 0.4rem 0;
    text-shadow: 0 0 1px currentColor;
    z-index    : 1;

    &::before {
      content         : "";
      display         : block;
      background-color: currentColor;
      height          : 0.3rem;
      margin-bottom   : 0.1rem;
      margin-top      : -1px;
    }
  }

  &__image {
    width: auto;

    /* filter: brightness(1.1) contrast(0.9); */
  }

  &__caption {
    background : var(--news-caption-bg-color, #df0000a0);
    color      : var(--news-caption-fg-color, #fff);
    padding    : .9em;
    transform  : translate(0.6rem, -1.4em);
    text-shadow: 0 0 2px currentColor;
  }
}


/* Component SubscribeBtn */
.subscribe-btn {
  display         : inline-block;
  background-color: var(--subscribe-btn-bg-color);
  margin          : .5rem;
  padding         : 0.6em 1.3em;

  --link-fg-color: var(--subscribe-btn-fg-color);
  font-size      : 1.1em;
  letter-spacing : 0.2px;
  text-decoration: none;

  transition: .2s box-shadow, .2s transform;

  &:not(:active) {

    &:hover,
    &:focus {
      --link-hover-fg-color: var(--subscribe-btn-fg-color);

      box-shadow: 2px 4px 6px black;
      transform : scale(1.05);
    }
  }

  &::after {
    // « »
    content: ' »';
    color  : #000;
  }
}

/* Footer */
.footer {
  text-align      : center;
  background-color: var(--footer-bg-color);
  padding         : 6rem 1rem 6rem;

  // &__image {}
  &__title {
    margin     : 0.5em 0;
    font-weight: normal;
    text-shadow: 1px 1px 0px currentColor;
  }
}

/* Component Contact */
.contact {
  font-style: normal;

  &__media {
    display    : inline-block;
    line-height: 0;
    margin     : 0;
    padding    : 0.5rem 0;

    &:hover {
      filter: contrast(0);
    }

    // &__image {}
  }
}

/* BackBtn */
.back-btn {
  &::before {
    content: '« ';
  }
}

/* MainContent */
.main-content {
  h1 {
    font-family: 'Poppins', sans-serif;
  }

  h4 {
    margin: 1em 0 0 0;
  }

  ul {
    list-style: none;
    padding   : 0;
    margin    : 0;
  }

  p {
    margin: 2em 0;
  }
}

/* Component Carousel - Start */
/*
  <.anchor id="slide_1" />
  <.nav href="#slide_1" />
  <.anchor id="slide_2" />
  <.nav href="#slide_2" />
  <.view>
    <child-img1>
    <child-img2>
  </.view>
*/
$cLayout: '.c-layout';

/// Musí být v html: layout, anchor, nav, view
/* Rozloženi prvků */
#{$cLayout} {
  text-align: center;
  margin    : calc(50% + 2em) 0 2em 0;

  &__anchor {
    /* ^ Kotvy pro upevnění pohybu = neskáče obraz při změně cíle (id) */
    position: fixed;
    top     : 0;
    width   : 0;
    height  : 0;
    overflow: hidden;
  }

  &__nav {
    /* ^ Navigační prvky */
    display: inline-block;
    width  : 1rem;
    height : 1rem;
  }

  &__view {
    /* ^ Průhled na snímky */
    display : flex;
    overflow: hidden;
    margin  : calc(-50% - 2rem) 0 0 0;

    &>* {
      /* ^ Snímky */
      display: inline-block;
      width  : 100%;
      height : auto;
    }

    &>:first-child {
      /* ^ První snímek */
      /* Určuje, který snímek je viditelný skrze průhled */
      margin-left: calc(-100% * (var(--selected) - 1));
    }
  }
}

$carousel: '.c';

/// Musí být v html: nav
/* Vizuální dekorace*/
#{$carousel} {

  &__nav {
    /* ^ Navigační prvky */
    border         : 0.25rem solid transparent;
    background-clip: content-box;

    background-color: var(--carousel-color);
    border-radius   : 50%;
    font-size       : 0;

    background-image   : linear-gradient(var(--carousel-select-color), var(--carousel-select-color));
    background-repeat  : no-repeat;
    background-size    : .5rem;
    background-position: calc(var(--selected-nav, 1) * .5rem);
  }

  &__view {
    &>:first-child {
      /* ^ První snímek */
      transition: .75s cubic-bezier(0.4, 0, 1, 1) margin-left;
    }
  }
}

$cSwitch: '.c-switch';

/// Musí být v html: anchor, nav, view
/* Přepínaní snímků */
#{$cSwitch} {

  &__anchor {

    &:nth-of-type(1) {
      &+#{$cSwitch}__nav {
        --selected-nav: calc(1 - var(--selected));
      }
    }

    &:nth-of-type(2) {
      &+#{$cSwitch}__nav {
        --selected-nav: calc(2 - var(--selected));
      }
    }

    &:target {
      &:nth-of-type(1) {

        // &+#{$cSwitch}__nav,
        &~#{$cSwitch}__view {
          --selected: 1;
        }
      }

      &:nth-of-type(2) {

        // &+#{$cSwitch}__nav,
        &~#{$cSwitch}__view {
          --selected: 2;
        }
      }

      // ? Add slide ^ -||- ^
    }
  }
}

$cAnimation: '.c-anim';

/// Musí být v html: root, view, anchor
/* Animace snímků */
#{$cAnimation} {

  &:hover {
    --a-play-state: paused;
  }

  &__view,
  & {
    --a: start-s1;

    animation-name           : var(--a);
    animation-duration       : 5s;
    animation-iteration-count: infinite;
    animation-play-state     : var(--a-play-state, running);
  }

  &__anchor {
    &:target {
      &:nth-of-type(1)~#{$cAnimation}__view {
        --a: start-s1;
      }

      &:nth-of-type(2)~#{$cAnimation}__view {
        --a: start-s2;
      }

      // ? Add slide ^ -||- ^
    }
  }

}

// ? Add slide

@keyframes start-s1 {
  0% {
    --selected: 1
  }

  50% {
    --selected: 1
  }

  51% {
    --selected: 2
  }

  100% {
    --selected: 2
  }
}

@keyframes start-s2 {
  0% {
    --selected: 2
  }

  50% {
    --selected: 2
  }

  51% {
    --selected: 1
  }

  100% {
    --selected: 1
  }
}

@keyframes only-s1 {
  from {
    --select: 1
  }

  to {
    --select: 1
  }
}

@keyframes only-s2 {
  from {
    --select: 2
  }

  to {
    --select: 2
  }
}

.c__different-image {
  /* ^ Odlišení obrázku pro dočasné odlišení */
  filter: contrast(1.3) brightness(1.2) saturate(1.2) hue-rotate(65deg);
}

/* Component Carousel - End */
